<?xml version="1.0"?>
<PluginV1XML xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FRIENDLY_NAME>LynxMotion Smart Servos</FRIENDLY_NAME>
  <DLL_FILENAME>LSS.dll</DLL_FILENAME>
  <AUTHOR_NAME>DJ Sures</AUTHOR_NAME>
  <LICENSE_URL>http://www.ez-robot.com/tutorials/plugin-license.aspx</LICENSE_URL>
  <PLUGIN_GUID>4b0d71d2-9675-48f0-a2ef-11b3dd4c8902</PLUGIN_GUID>
  <CATEGORY_TYPE>Servo</CATEGORY_TYPE>
  <DESCRIPTION>Compact, modular actuators which were designed to be an evolution of the standard RC servo for use in multi degree-of-freedom robots, animatronics, custom RC projects and more.</DESCRIPTION>
  <VersionRelease>1</VersionRelease>
</PluginV1XML>